


//  @it should support 2-value

#assert
  padding _ 0

#assert
  padding 0 _

//  @expect  -------------------------------

#assert {
  padding-left: 0;
  padding-right: 0;
}

#assert {
  padding-top: 0;
  padding-bottom: 0;
}





//  @it should support 2-value with !important

#assert
  padding _ 0 !important

#assert
  padding 0 _ !important

//  @expect  -------------------------------

#assert {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#assert {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
