


//  @it should support 3-value

#assert { padding: 0 _ _ }
#assert { padding: _ 0 _ }
#assert { padding: _ _ 0 }

//  @expect  -------------------------------

#assert { padding-top:0; }
#assert { padding-left:0; padding-right:0; }
#assert { padding-bottom:0; }






//  @it should support 3-value with !important

#assert { padding: 0 _ _ !important }
#assert { padding: _ 0 _ !important }
#assert { padding: _ _ 0 !important }

//  @expect  -------------------------------

#assert { padding-top: 0 !important; }
#assert { padding-left: 0 !important; padding-right: 0 !important; }
#assert { padding-bottom: 0 !important; }
