


//  @it should support 4up

#assert-1 { padding: 0 _ _ _ }
#assert-2 { padding: _ 0 _ _ }
#assert-3 { padding: _ _ 0 _ }
#assert-4 { padding: _ _ _ 0 }

//  @expect  -------------------------------

#assert-1 { padding-top: 0; }
#assert-2 { padding-right: 0; }
#assert-3 { padding-bottom: 0; }
#assert-4 { padding-left: 0; }






//  @it should support 4up with !important

#assert-1 { padding: 0 _ _ _ !important }
#assert-2 { padding: _ 0 _ _ !important }
#assert-3 { padding: _ _ 0 _ !important }
#assert-4 { padding: _ _ _ 0 !important }

//  @expect  -------------------------------

#assert-1 { padding-top: 0 !important; }
#assert-2 { padding-right: 0 !important; }
#assert-3 { padding-bottom: 0 !important; }
#assert-4 { padding-left: 0 !important; }
