//
//  Testing better clockhand
//  ----------------------------------------------
//
//  Note:
//  Only padding is tested because it is assumed
//  that if padding can work any generated property
//  can work too

@import 'better-clockhand'




// Clockhand with 2 args

#test
  padding _ 0
  padding 0 _

// Clockhand with 3 args

#test
  padding 0 _ _
  padding _ 0 _
  padding _ _ 0

// Clockhand with 4 args

#test
  padding 0 _ _ _
  padding _ 0 _ _
  padding _ _ 0 _
  padding _ _ _ 0




//  Shows how if no _ is present then
//  padding is used as-is, namely that
//  padding:0; etc wouldn't render as
//  4 padding-side properties

#test
  padding 0
  padding 0 0
  padding 0 0 0
  padding 0 0 0 0



// This test shouldn't render anything
// in the CSS

#test
  padding _
  padding _ _
  padding _ _ _
  padding _ _ _ _






//  Testing better clockhand with !important
//  ----------------------------------------



// Clockhand with 2 args

#test
  padding _ 0 !important
  padding 0 _ !important

// Clockhand with 3 args

#test
  padding 0 _ _ !important
  padding _ 0 _ !important
  padding _ _ 0 !important

// Clockhand with 4 args

#test
  padding 0 _ _ _ !important
  padding _ 0 _ _ !important
  padding _ _ 0 _ !important
  padding _ _ _ 0 !important




//  Shows how if no _ is present then
//  padding is used as-is, namely that
//  padding:0; etc wouldn't render as
//  4 padding-side properties

#test
  padding 0 !important
  padding 0 0 !important
  padding 0 0 0 !important
  padding 0 0 0 0 !important



// This test shouldn't render anything
// in the CSS

#test
  padding _ !important
  padding _ _ !important
  padding _ _ _ !important
  padding _ _ _ _ !important
