


//  @it should not unnecessarially break property into separate property-side properties

//  Shows how if no _ is present then
//  padding is used as-is, namely that
//  padding:0; etc wouldn't render as
//  4 padding-side properties

#assert
  padding 0
  padding 0 0
  padding 0 0 0
  padding 0 0 0 0

//  @expect  -------------------------------

#assert {
  padding: 0;
  padding: 0 0;
  padding: 0 0 0;
  padding: 0 0 0 0;
}






//  @it should not unnecessarially break property into separate property-side properties (with !important)

#assert
  padding 0 !important
  padding 0 0 !important
  padding 0 0 0 !important
  padding 0 0 0 0 !important

//  @expect  -------------------------------

#assert {
  padding: 0 !important;
  padding: 0 0 !important;
  padding: 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
