


//  @it should not unnecessarially render

//  This assert shouldn't render anything
//  in the CSS

#assert
  padding _
  padding _ _
  padding _ _ _
  padding _ _ _ _

//  @expect  -------------------------------






//  @it should not unnecessarially render (with !important)

#assert
  padding _ !important
  padding _ _ !important
  padding _ _ _ !important
  padding _ _ _ _ !important

//  @expect  -------------------------------
