


//  @it should support 2up

#test
  padding _ 0

#test
  padding 0 _

//  @expect  -------------------------------

#test {
  padding-left: 0;
  padding-right: 0;
}

#test {
  padding-top: 0;
  padding-bottom: 0;
}





//  @it should support 2up with !important

#test
  padding _ 0 !important

#test
  padding 0 _ !important

//  @expect  -------------------------------

#test {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#test {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
