@import 'clockhand'



padding()
  if _ in arguments
    clockhand(arguments, 'padding')
  else
    padding arguments

margin()
  if _ in arguments
    clockhand(arguments, 'margin')
  else
    padding arguments
