


is-ignore(val)
  if val is 0
    return false
  else if val is _
    return true
  else
    return val is false



padding()
  if not _ in arguments
    padding arguments
  else
    argumentsCount = length(arguments)
    important-string = null

    if !important in last(arguments)
      argumentsCount = argumentsCount - 1
      important-string = !important



    //  `argumentCount is 1` is a case we can safely ignore
    //  because such a case can only be padding:_; given
    //  we know arguments contains _ since we passed the
    //  first if

    if argumentsCount is 2
      if not is-ignore(arguments[0])
        padding-top    arguments[0] important-string
        padding-bottom arguments[0] important-string
      if not is-ignore(arguments[1])
        padding-left    arguments[1] important-string
        padding-right arguments[1] important-string

    else if argumentsCount is 3
      padding-top    arguments[0] important-string if not is-ignore(arguments[0])
      if not is-ignore(arguments[1])
        padding-left   arguments[1] important-string
        padding-right  arguments[1] important-string
      padding-bottom arguments[2] important-string if not is-ignore(arguments[2])

    else if argumentsCount is 4
      padding-top    arguments[0] important-string if not is-ignore(arguments[0])
      padding-right  arguments[1] important-string if not is-ignore(arguments[1])
      padding-bottom arguments[2] important-string if not is-ignore(arguments[2])
      padding-left   arguments[3] important-string if not is-ignore(arguments[3])
