


better-clockhand(prop-args, prop)
  if not _ in prop-args
    {prop} prop-args
  else
    prop-argsCount = length(prop-args)
    important-string = null

    if !important in last(prop-args)
      prop-argsCount = prop-argsCount - 1
      important-string = !important

    //  `argumentCount is 1` is a case we can safely ignore
    //  because such a case can only be padding:_; given
    //  we know prop-args contains _ since we passed the
    //  first if

    if prop-argsCount is 2
      if _ isnt prop-args[0]
        {prop}-top    prop-args[0] important-string
        {prop}-bottom prop-args[0] important-string
      if _ isnt prop-args[1]
        {prop}-left    prop-args[1] important-string
        {prop}-right prop-args[1] important-string

    else if prop-argsCount is 3
      {prop}-top    prop-args[0] important-string if _ isnt prop-args[0]
      if _ isnt prop-args[1]
        {prop}-left   prop-args[1] important-string
        {prop}-right  prop-args[1] important-string
      {prop}-bottom prop-args[2] important-string if _ isnt prop-args[2]

    else if prop-argsCount is 4
      {prop}-top    prop-args[0] important-string if _ isnt prop-args[0]
      {prop}-right  prop-args[1] important-string if _ isnt prop-args[1]
      {prop}-bottom prop-args[2] important-string if _ isnt prop-args[2]
      {prop}-left   prop-args[3] important-string if _ isnt prop-args[3]



padding()
  better-clockhand(arguments, "padding")

margin()
  better-clockhand(arguments, "margin")
